
/*반응형 스타일*/

/* (참고1) 일반적인 중단점(분기점, Break Point)
  1. 5개 기준(매우 복잡)
  ~ 479px : 모바일 세로
  480px ~ 767px : 모바일 가로, 태블릿 세로
  768px ~ 1023px : 태블릿 가로
  1024px ~ 1279px : 노트북
  1280px ~ : 데스크톱

  2. 4개 기준(복잡)
  ~ 479px : 모바일 세로
  480px ~ 767px : 모바일 가로, 태블릿 세로
  768px ~ 1023px : 태블릿 가로
  1024px ~ : 데스크톱

  3. 3개 기준(일반적, Good)
  ~ 767px : 모바일 (1열 정렬)
  768px ~ 1023px : 태블릿 (2열 정렬)
  1024px ~ : 데스크톱 (3열 이상)

  4. 2개 기준(일반적, Normal)
  ~ 767px : 모바일
  768px ~ : 태블릿, 데스크톱
*/
/* (참고2) 부트스트랩에서 사용하는 중단점
  1200px / 992px / 768px / 576px

  1200px / 992px 중 어디부터 태블릿 사이즈로 볼지
  768px / 576px 중 어디부터 모바일 사이즈로 볼지는 선택 사항
*/
/* 장치가 화면이고 최대 너비가 767 픽셀 일 때(=>767px 이하에서 */
@media screen and (max-width:767px) {
  /* 모바일에서는 화면의 80%만 차지하도록 */
  .inner {
    width: 80%;
  }
  .title {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .title::after{
    width: 60px;
  }
  header .btn-hamburger{
    display:block;
  }
  header nav {
    background-color: #e4e4e4;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    align-content: center;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    padding: 10px 80px;
    font-size:30px
  }
  header nav ul li>a{
    transition: 0.5s;
  }
  header nav ul li>a:hover{
    letter-spacing: 5px;
  }
  header nav.shuter {
    height: 40vh;
    transition: 0.5s;
    border-bottom: 2vh solid white;
  }
  .visual >.inner {
    font-size: 30px;
  }
  .visual >.inner .mobile-lf{
    display: inline !important;
  }
  .visual >.inner > h1{
    width: 150px;
  }
  .about {
    padding: 100px 0;
  }
  .about .about__wrapper {
    flex-direction: column;
  }
  .about .about__wrapper .about__img {
    width: 80%;
    margin: 0 auto;
  }
  .about .about__wrapper .about__text {
    width: 100%;
    text-align: center;
  }
  .skill {
    padding: 100px 0;
  }

  .project {
    padding: 100px 0;
  }
  .project .port {
    flex-direction: column;
    margin: 40px 0;
  }
  .project .port .port__img, 
  .project .port .port__text {
    width: 100%;
  }
  .project .port .port__text {
    padding: 20px 0 0;
  }
  .project .port .btn-group {
    margin-top: 20px;
  }

  .contact {
    padding: 100px 0;
  }

  #imageModal .modal-content {
    width: 80%;
  }
  #imageModal .modal-body img {
    width: 100%;
  }
}



@media screen and (max-width:479px){
  .notForMobile{
    display: none;
  }



  .visual > .inner {
    flex-direction: column;
  }
  .visual > .inner h1{
    text-align: center;
    margin-left: 0;
  }


  .about > .outer {
    margin: 0;
    padding: 10vh 10vw;
  }

  .about > .outer > .inner {
    align-content: center;
    justify-content: center;
  }

  .about .outer .inner .about__wrapper {
    gap: 30px;
  }
  
  .about .about__wrapper .about__text {
    padding: 0;
  }

  .about .inner .about__btn{
    right: 0;
  }

}