
.visual > .inner .cardContainer {
    width: 150px;
    height: 280px;
    position: relative;
    perspective: 500px;
    
    transform-style: preserve-3d; 

}
/* .visual.show > .inner .cardContainer {
} */

.visual > .inner .cardContainer > .card {
    width: 150px; height: 280px;
    border-radius: 12px;
    pointer-events: none;
    overflow: hidden;
    transition: 0.1s;
    position:relative;
    --rotX:0deg;
    --rotY:0deg;
    transform:perspective(350px) rotateX(var(--rotX))rotateY(var(--rotY)) !important;
    backface-visibility: hidden;

    
}

.visual > .inner .cardContainer > .front,
.visual > .inner .cardContainer > .back {
  position: absolute; /* 절대 위치를 사용하여 앞면과 뒷면을 카드 내에 정확하게 배치 */
  height: 100%; /* 카드의 전체 높이를 차지 */
  width: 100%; /* 카드의 전체 너비를 차지 */
  backface-visibility: hidden; /* 뒤집었을 때 뒷면이 보이지 않도록 설정 */
}

.back{
  transform: rotateY( 180deg );
}

.visual > .inner .cardContainer > .card >img{
  width: 150px; height: 280px;
  pointer-events: none;
  object-fit: cover;
  backface-visibility: hidden;
}

.card__shine {
    position: absolute; 
    inset:0; /*부모 영역을 완전히 덮음*/
    pointer-events: none;
    --space: 2px; --h: 21; --s: 70%; --l: 50%;
    --bars: 24px; --bar-color: rgba(255,255,255,.6); --bar-bg: rgb(10,10,10);
    --vio:#c929f1; --blu:#0dbde9; --gre:#21e985; --yel:#eedf10; --red:#f80e7b;
    --mx:10%; --my:10%; --hyp:1; --bgPos: 50% 50%;
    --spot-size:32%;
    --spot-falloff:72%;

    
background-image: repeating-linear-gradient(
            90deg,
            hsl(calc(var(--h) * 0), var(--s), var(--l)) calc(var(--space) * 0),
            hsl(calc(var(--h) * 0), var(--s), var(--l)) calc(var(--space) * 1),
            black calc(var(--space) * 1.001),
            black calc(var(--space) * 1.999),
            hsl(calc(var(--h) * 1), var(--s), var(--l)) calc(var(--space) * 2),
            hsl(calc(var(--h) * 1), var(--s), var(--l)) calc(var(--space) * 3),
            black calc(var(--space) * 3.001),
            black calc(var(--space) * 3.999),
            hsl(calc(var(--h) * 2), var(--s), var(--l)) calc(var(--space) * 4),
            hsl(calc(var(--h) * 2), var(--s), var(--l)) calc(var(--space) * 5),
            black calc(var(--space) * 5.001),
            black calc(var(--space) * 5.999),
            hsl(calc(var(--h) * 3), var(--s), var(--l)) calc(var(--space) * 6),
            hsl(calc(var(--h) * 3), var(--s), var(--l)) calc(var(--space) * 7),
            black calc(var(--space) * 7.001),
            black calc(var(--space) * 7.999),
            hsl(calc(var(--h) * 4), var(--s), var(--l)) calc(var(--space) * 8),
            hsl(calc(var(--h) * 4), var(--s), var(--l)) calc(var(--space) * 9),
            black calc(var(--space) * 9.001),
            black calc(var(--space) * 9.999),
            hsl(calc(var(--h) * 5), var(--s), var(--l)) calc(var(--space) * 10),
            hsl(calc(var(--h) * 5), var(--s), var(--l)) calc(var(--space) * 11),
            black calc(var(--space) * 11.001),
            black calc(var(--space) * 11.999),
            hsl(calc(var(--h) * 6), var(--s), var(--l)) calc(var(--space) * 12),
            hsl(calc(var(--h) * 6), var(--s), var(--l)) calc(var(--space) * 13),
            black calc(var(--space) * 13.001),
            black calc(var(--space) * 13.999),
            hsl(calc(var(--h) * 7), var(--s), var(--l)) calc(var(--space) * 14),
            hsl(calc(var(--h) * 7), var(--s), var(--l)) calc(var(--space) * 15),
            black calc(var(--space) * 15.001),
            black calc(var(--space) * 15.999),
            hsl(calc(var(--h) * 8), var(--s), var(--l)) calc(var(--space) * 16),
            hsl(calc(var(--h) * 8), var(--s), var(--l)) calc(var(--space) * 17),
            black calc(var(--space) * 17.001),
            black calc(var(--space) * 17.999),
            hsl(calc(var(--h) * 9), var(--s), var(--l)) calc(var(--space) * 18),
            hsl(calc(var(--h) * 9), var(--s), var(--l)) calc(var(--space) * 19),
            black calc(var(--space) * 19.001),
            black calc(var(--space) * 19.999),
            hsl(calc(var(--h) * 10), var(--s), var(--l)) calc(var(--space) * 20),
            hsl(calc(var(--h) * 10), var(--s), var(--l)) calc(var(--space) * 21),
            black calc(var(--space) * 21.001),
            black calc(var(--space) * 21.999),
            hsl(calc(var(--h) * 11), var(--s), var(--l)) calc(var(--space) * 22),
            hsl(calc(var(--h) * 11), var(--s), var(--l)) calc(var(--space) * 23),
            black calc(var(--space) * 23.001),
            black calc(var(--space) * 23.999),
            hsl(calc(var(--h) * 12), var(--s), var(--l)) calc(var(--space) * 24),
            hsl(calc(var(--h) * 12), var(--s), var(--l)) calc(var(--space) * 25),
            black calc(var(--space) * 25.001),
            black calc(var(--space) * 25.999),
            hsl(calc(var(--h) * 13), var(--s), var(--l)) calc(var(--space) * 26),
            hsl(calc(var(--h) * 13), var(--s), var(--l)) calc(var(--space) * 27),
            black calc(var(--space) * 27.001),
            black calc(var(--space) * 27.999),
            hsl(calc(var(--h) * 14), var(--s), var(--l)) calc(var(--space) * 28),
            hsl(calc(var(--h) * 14), var(--s), var(--l)) calc(var(--space) * 29),
            black calc(var(--space) * 29.001),
            black calc(var(--space) * 29.999),
            hsl(calc(var(--h) * 15), var(--s), var(--l)) calc(var(--space) * 30),
            hsl(calc(var(--h) * 15), var(--s), var(--l)) calc(var(--space) * 31),
            black calc(var(--space) * 31.001),
            black calc(var(--space) * 31.999)
        ),
        repeating-linear-gradient(
            90deg,
            var(--vio),
            var(--blu),
            var(--gre),
            var(--yel),
            var(--red),
            var(--vio)
        ),
        repeating-linear-gradient(
            90deg,
            var(--bar-bg) calc(var(--bars) * 2),
            var(--bar-color) calc(var(--bars) * 3),
            var(--bar-bg) calc(var(--bars) * 3.5),
            var(--bar-color) calc(var(--bars) * 4),
            var(--bar-bg) calc(var(--bars) * 5),
            var(--bar-bg) calc(var(--bars) * 12)
        ),
        repeating-linear-gradient(
            90deg,
            var(--bar-bg) calc(var(--bars) * 2),
            var(--bar-color) calc(var(--bars) * 3),
            var(--bar-bg) calc(var(--bars) * 3.5),
            var(--bar-color) calc(var(--bars) * 4),
            var(--bar-bg) calc(var(--bars) * 5),
            var(--bar-bg) calc(var(--bars) * 9)
        ),
        radial-gradient(
            farthest-corner circle at var(--mx) var(--my),
            rgba(230, 230, 230, 0.85) 0%,
            rgba(200, 200, 200, 0.1) 25%,
            rgb(0, 0, 0) 90%
        );

    background-blend-mode: soft-light, soft-light, screen, overlay;
    background-position: center, calc(((50% - var(--posx)) * 25) + 50%) center,
        calc(var(--posx) * -1.2) var(--posy), var(--pos), center;
    background-size: 100% 100%, 200% 200%, 237% 237%, 195% 195%, 120% 120%;

    filter: brightness(calc((var(--hyp) + 0.7) * 0.7)) contrast(3.2)
        saturate(0.66);
    will-change: transform, background-position, filter;

    mix-blend-mode: color-dodge;
    opacity: 0.7;
    }

.animate-visualCard {
  animation-name: cardRotate;
  animation-duration: 2s;
  animation: cardRotate 2s ease-in-out
}
@keyframes cardRotate {
  0% {
    transform: rotateY(180deg) translateY(800px);
  }
  70% {
    transform: rotateY(1080deg) translateY(-50px);
    transition-delay: 0.3s;
  }
  100% {
    transform: rotateY(1080deg) translateY(0);
  }
}