

.visual > .inner .cardContainer {
    width: 150px;
    height: 280px;
    position: relative;
}

.visual > .inner .cardContainer > .card {
    border-radius: 12px;
    pointer-events: none;
    overflow: hidden;
    transition: 0.1s;
    position: relative;
    --rotX:0deg;
    --rotY:0deg;
    transform:perspective(350px) rotateX(var(--rotX))rotateY(var(--rotY)) !important
}

.visual > .inner .cardContainer > .card >img{
  width: 100%; height: 100%;
  pointer-events: none;
  object-fit: cover;
}



.card__shine {
    position: absolute; 
    inset:0; /*부모 영역을 완전히 덮음*/
    pointer-events: none;
    --space: 2px; --h: 21; --s: 70%; --l: 50%;
    --bars: 24px; --bar-color: rgba(255,255,255,.6); --bar-bg: rgb(10,10,10);
    --vio:#c929f1; --blu:#0dbde9; --gre:#21e985; --yel:#eedf10; --red:#f80e7b;
    --mx:50%; --my:50%; --hyp:1; --bgPos: 50% 50%;
    --spot-size:32%;
    --spot-falloff:72%;

    
    background-image:
    /* 색 스트라이프(슬림 버전) */
    repeating-linear-gradient(90deg,
    hsl(calc(var(--h)*0), var(--s), var(--l)) calc(var(--space)*0),
    hsl(calc(var(--h)*1), var(--s), var(--l)) calc(var(--space)*1),
    black calc(var(--space)*1.001), black calc(var(--space)*1.999),
    hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*2),
    hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*3)
    ),
    /* 무지개 대역 */
    repeating-linear-gradient(90deg, var(--vio), var(--blu), var(--gre), var(--yel), var(--red), var(--vio)),
    /* 바/스캔라인 */
    repeating-linear-gradient(90deg,
        var(--bar-bg) calc(var(--bars)*2),
        var(--bar-color) calc(var(--bars)*3),
        var(--bar-bg) calc(var(--bars)*3.5),
        var(--bar-color) calc(var(--bars)*4),
        var(--bar-bg) calc(var(--bars)*5)
    ),
    /* 라이트 스팟(마우스 위치) */
    radial-gradient(farthest-corner circle at var(--mx) var(--my),
        rgba(230,230,230,.85) 0%,
        rgba(200,200,200,.1) 25%,
        rgb(0,0,0) 90%);
    background-blend-mode: soft-light, soft-light, screen, color-dodge;
    background-size: 200% 200%, 200% 200%, 180% 180%, 120% 120%;
    background-position: var(--bgPos);
    filter: brightness(calc((var(--hyp) + 0.7) * 0.7)) contrast(3.2) saturate(.66);
    opacity: 0.2;
    /* transition: background-position 0.12s; */
    mix-blend-mode: color-dodge;
    will-change: transform, background-position, filter;
    }
    /* .overlay {
      position: absolute;
      inset: 0;
      pointer-events: none;
      opacity: 0;
      background-image: radial-gradient(farthest-corner circle at var(--mx) var(--my),
      rgba(255,255,255, 0.0) calc(var(--ov-size) - 20%),
      rgba(255,255,255, var(--ov-alpha)) var(--ov-size),
      rgba(255,255,255, 0.0) calc(var(--ov-size) + 20%));
      mix-blend-mode: color-dodge;
    } */
    .cardContainer:hover .card__shine{
      opacity: 0.5;
    }