.sparkle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(124, 246, 255); /* 파란색 네온 보더 */
  background: transparent;
  box-shadow: 0 0 8px #00f, 0 0 12px #00f;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
  animation: sparkleAnim 0.8s;
}


.burst {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(97, 255, 247, 0.8) 0%;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 8px rgb(0, 183, 255), 0 0 12px rgb(255, 255, 255);
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
  animation: burstWave 0.8s;
}


/* 스파클 애니메이션 */
@keyframes sparkleAnim {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0) rotate(var(--angle));
  }
  100% {
    opacity: 0;
    transform: translate(calc(-50% + var(--dx) * 5), calc(-50% + var(--dy) * 5)) scale(2) rotate(var(--angle));
  }
}

@keyframes burstWave {
  0% { transform: translate(-50%, -50%) scale(0); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(3); opacity: 0; }
}
