.no-scroll {
  overflow: hidden;
  height: 100%;
}

.about .outer > .beforeC{
  position: absolute;
  top: 25vh;
  left: 15vw;
  background-color: rgb(0, 255, 0);
  box-shadow: 5px 5px 20px 5px rgba(182, 182, 182, 0.1);
  width: 150px;
  height: 280px;
  transition: 1s;
  visibility: hidden;
}

.about .outer > .beforeC.extend{
  transform: translateX(-15vw) translateY(-25vh);
  width: 100%;
  height: 100%;
}

.about .outer > .beforeC.extend.see{
  visibility: visible;
}
.about .outer > .beforeC.see.shrinked{
  visibility: visible;
}


.about .outer .beforeC__img{
  position: relative;
  width: 100%;
  height: 100%;
}

.about .outer .beforeC__img img{
  position: absolute;
  top: 20%;
  left: 13%;
  width: 114px;
  height: 113px;
  transition: 2s;
}
.about .outer .beforeC__img img.letsMove{
  left: var(--left);
  top: var(--top);
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
}